DEBUG=true
N_JOBS=2
BC_TMPDIR="{{ path_work }}/tmp/brain-cockpit"
REACT_APP_API_PORT=
REACT_APP_API_URL="{{ api_url }}"
REACT_APP_API_HTTP_PROTOCOL="https"
# Datasets views
REACT_APP_ENABLE_GRADIENTS=false